<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <form action="/adminAdded" method="POST">
        <input type="text" id="firstName" name="firstName" placeholder="First Name" required>
        <input type="text" id="lastName" name="lastName" placeholder="Last Name" required>
        <input type="text" id="username" name="username" placeholder="Enter username needed for Authentication">
        <input type="text" id="password" name="password" placeholder="Enter password needed for Authentication">
        <input type="text" pattern="[0-9]{10}" id="phno" name="phno" placeholder="Mobile Number" required>
        <input type="email" id="email" name="email" placeholder="Email Address" required>
        <input type="text" id="address" name="address" placeholder="Address" required>
        <p>Select Your Department:</p>
        <input type="radio" id="CSE" name="dept" value="CSE" required>
        <label for="CSE">CSE</label><br>
        <input type="radio" id="ECE" name="dept" value="ECE" required>
        <label for="ECE">ECE</label><br>  
        <input type="radio" id="ME" name="dept" value="ME" required>
        <label for="ME">ME</label><br><br>
        <input type="submit" value="Add Admin">

    </form>
</body>
</html>