<nav>
    <div class="heading">
        <p>Admin Dashboard</p>
    </div>

    <div class="ad-info">
        <div class="info">
            <h4><%= adminName %></h4>
            <p>Admin</p>
        </div>
        <img class="ad-icon" src="/icons/admin.jpg" alt="admin-icon">
        <a href="/Adminlogout">Logout</a>
    </div>
</nav>