<div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a href="/">
                    <span class="icon"><ion-icon name="school"></ion-icon></span>
                    <span class="title" style="font-size: 1.5em; font-weight: 500;">COLLEGE SPACE</span>
                </a>
            </li>
            <li class="hovered">
                <a href="/adminDashboard">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li class="hovered">
                <a href="/admin/AddStudent">
                    <span class="icon"><ion-icon name="person-add-outline"></ion-icon> </span>
                    <span class="title">Add Student</span>
                </a>
            </li>
        </li>
            <li class="hovered">
                <a href="/admin/ManageStudents/allStudents">
                    <span class="icon"><ion-icon name="people-outline"></ion-icon> </span>
                    <span class="title"> Manage Student</span>
                </a>
            </li>
            <li class="hovered">
                <a href="/AddFaculty">
                    <span class="icon"><ion-icon name="man-outline"></ion-icon></span>
                    <span class="title"> Add Faculty</span>
                </a>
            </li>
            <li class="hovered">
                <a href="/admin/ManageFaculty">
                    <span class="icon"><ion-icon name="people-circle-outline"></ion-icon></span>
                    <span class="title"> Manage Faculty</span>
                </a>
            </li>
            <li class="hovered">
                <a href="/admin/NoticeBoard">
                    <span class="icon"><ion-icon name="bookmarks-outline"></ion-icon></span>
                    <span class="title">Notice Board</span>
                </a>
            </li>
            <li class="hovered">
                <a href="/Adminlogout">
                    <span class="icon"><ion-icon name="exit-outline"></ion-icon></span>
                    <span class="title">Log Out</span>
                </a>
            </li>
        </ul>
    </div>
</div>