<div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a class="p-name" href="#">
                    <span class="icon"><ion-icon name="school"></ion-icon></span>
                    <span class="title" style="font-size: 1.5em; font-weight: 500;">COLLEGE SPACE</span>
                </a>
            </li>
            <li class="hovered">
                <a href="/studentDashboard">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li class="hovered">
                <a href="/student/checkAttendence">
                    <span class="icon"><ion-icon name="clipboard-outline"></ion-icon></span>
                    <span class="title">Check Attendence</span>
                </a>
            </li>
            <li class="hovered">
                <a href="/student/checkAssignments">
                    <span class="icon"><ion-icon name="newspaper-outline"></ion-icon></span>
                    <span class="title">Check Assigments</span>
                </a>
            </li>
            <li class="hovered">
                <a href="/student/checkMSTmarks">
                    <span class="icon"><ion-icon name="bar-chart-outline"></ion-icon></span>
                    <span class="title">Check MST Marks</span>
                </a>
            </li>

            <li class="hovered">
                <a href="/student/NoticeBoard">
                    <span class="icon"><ion-icon name="book-outline"></ion-icon></ion-icon></span>
                    <span class="title">Notice Board</span>
                </a>
            </li>

            <!-- <li class="hovered">
                <a href="#">
                    <span class="icon"><ion-icon name="library-outline"></ion-icon></span>
                    <span class="title">Library Status</span>
                </a>
            </li> -->
            

            <li class="hovered">
                <a href="/StudentLogout">
                    <span class="icon"><ion-icon name="exit-outline"></ion-icon></span>
                    <span class="title">Log Out</span>
                </a>
            </li>
        </ul>
    </div>
</div>