<nav>
    <div class="heading">
        <p>Student Dashboard</p>
    </div>

    <div class="ad-info">
        <div class="info">
            <h4><%=studentName %></h4>
            <p>Student</p>
        </div>
        <% if(gender == 'female'){ %>
            <img class="ad-icon" src="/icons/student11.png" alt="student-icon">
        <% } else { %>
            <img class="ad-icon" src="/icons/student12.png" alt="student-icon">
        <% } %>
        <a href="/StudentLogout">Logout</a>
    </div>
</nav>