<nav>
    <div class="heading">
        <p>Teacher Dashboard</p>
    </div>

    <div class="ad-info">
        <div class="info">
            <h4><%= teacherName %></h4>
            <p>Teacher</p>
        </div>
        <img class="ad-icon" src="/icons/teacher.png" alt="teacher-icon">
        <a href="/TeacherLogout">Logout</a>
    </div>
</nav>