<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body class="homePage">
    <div class="htitle">
        <h1>College Management System</h1>
    </div>

    <div class="hlinks">
        <div class="hlink">
            <a href="/admin">
                <img src="/icons/admin icon.png" alt="admin" />
                <p>Admin</p>
            </a>
        </div>
        <div class="hlink">
            <a href="/teachers">
                <img src="/icons/teacher icon.png" alt="admin" />
                <p>Teachers</p>
            </a>
        </div>
        <div class="hlink">
            <a href="/students">
                <img src="/icons/student icon.png" alt="admin" />
                <p>Students</p>
            </a>
        </div>
    </div>
</body>
</html>