@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Ubuntu',sans-serif;
    text-decoration: none;
}
.homePage{
    min-height: 100vh;
    overflow: hidden;
    background: radial-gradient(circle, rgb(48, 165, 255), rgb(10, 149, 255),#287bff);
    text-align: center;
}
.htitle{
    font-size: 50px;
    color: #fff;
    margin: 30px;
}
.hlinks{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hlinks .hlink{
    margin: 20px 100px;
    cursor: pointer;
}
.hlinks .hlink img{
    height:150px;
    background:#fff;
    width: 150px;
    border-radius: 50%;
}
.hlinks .hlink p{
    font-size: 25px;
    margin-top: 10px;
    font-weight: 550;
    color: #fff;
}
@media screen and (max-width:1040px){
    .htitle{
        font-size: 30px;
    }
    .hlinks{
        flex-wrap: wrap;
    }
}
@media screen and (max-width:850px){
    .htitle{
        font-size: 25px;
    }
}
@media screen and (max-width:415px){
    .htitle{
        font-size: 15px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .hlinks{
        margin-top: 40px;
    }
    .hlinks .hlink{
        margin-top:30px
    }
    .hlinks .hlink img{
        width: 100px;
        height:100px;
    }
}