.notice-board{
    padding: 40px 50px;
    background-color: #fff;
}
.notice-board .n-nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-bottom: 20px;
}
.notice-board .n-nav .nb{
    font-size:25px;
    font-weight: 400;
}
.notice-board .n-nav a{
    color: #fff;
    border-radius: 5px;
    background-color: var(--blue);
    padding: 8px 10px;
}
.notice::-webkit-scrollbar{
    width: 8px;
    background-color: #f1f1f1;
    border-radius: 10px;
}
.notice::-webkit-scrollbar-thumb{
    background-color: #3a69e9;
    border-radius: 10px;
}

.notice{
    width: 100%;
    border-radius: 5px;
    min-height: 400px;
    box-shadow:inset 0px 0px 30px 3px rgb(0 0 0 / 10%);
    max-height: 400px;
    overflow-y: auto;
    margin-top:20px;
    scroll-behavior: smooth;
    overflow-x: hidden;
    padding:0 20px;
    transition: .2s linear;
}
.notice .no-notice{
    padding: 30px;
    font-size: 30px;
}
.notice .n-content{
    border-bottom: 1px solid rgb(195, 195, 195);
    padding: 20px 0;
}
.notice .n-content .n-date{
    padding: 7px 10px;
    width: 150px;
    text-align: center;
    border-radius: 40px;
    margin: 10px 0;
    color: #fff;
}
.notice .n-content .n-title{
    margin: 5px 0;
}
.notice .n-content .n-body{
    margin: 5px 0;
    font-size: 18px;
}
.notice .n-content .n-author{
    margin: 5px 0;
    color: #646464;
}
.notice .n-content .del-notice{
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.notice .n-content .del-notice a{
    width: 100px;
    text-align: center;
    color: #fff;
    border-radius: 40px;
    padding: 5px 8px;
    background-color:rgb(255, 21, 87);
}
