*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --blue: #3a69e9;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

.container{
    position: relative;
    width: 100%;
}

body{
    min-height: 100vh;
    overflow-x:hidden ;
}
.navigation{
    position:fixed;
    height: 100%;
    width: 300px;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
    padding: 10px;
}

.navigation ul{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
}

.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover{
    background: var(--white);
}

.navigation ul li:nth-child(1){
    margin-bottom: 20px;
    pointer-events: none;
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}
body > div > div > div > ul > li:nth-child(1) > .p-name{
    margin-top: 30px;
}
.navigation ul li a:hover{
    color: var(--blue);
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
}

.navigation ul li a .icon ion-icon{
    font-size: 1.75em;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0, 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.navigation ul li:hover a::before{
    content: '';
    position: absolute ;
    top: -50px;
    right: 0;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0px 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after{
    content: '';
    position: absolute ;
    bottom: -50px;
    right: 0;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0px 10px var(--white);
    pointer-events: none;
}
main{
    margin-left: 300px;
}
main .s-content{
    padding:40px;
    display: flex;
}
main .s-content .st-card{
    width: 500px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 30px 3px rgb(0 0 0 / 10%);
}
.st-card .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.st-card .header img{
    height:115px;
    width: 115px;
    background-color: rgb(75, 144, 255);
    border-radius: 50%;
    padding: 5px;
}
.st-card .header p{
    font-size: 30px;
    width:200px;
    font-weight:550;
}
.st-card .ex-content{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.st-card .ex-content .f-name{
    width: 100%;
}

.st-card .ex-content .f-name .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:20px 0;
}
.st-card .ex-content .f-name .info span{
    width: calc(50% - 20px);
    font-size: 18px;
}
.st-card .ex-content .f-name .info span:nth-child(1){
    color: rgb(128, 128, 128);
    font-weight: 550;
}
.st-card .ex-content .f-name .info span:nth-child(2){
    color: #222;
    font-weight: 550;
}


.st-table{
    max-height: 815px;
    margin-left: 20px;
}
.st-table table{
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 18px;
}
table thead{
    background-color: #3a69e9;
    color: #fff;
}
table thead th{
    padding: 8px 16px;
    text-align: left;
}
table tr:nth-child(even){
    background-color: rgb(240, 240, 240);
}
table td{
    border-bottom: 1px solid #ddd;
    text-align:left;
    padding: 8px 16px;
}

