<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/AddStudent.css">
    <link rel="stylesheet" href="/adminNavbar.css">
    <title>Admin | Add Student</title>
</head>
<body>
    <div class="dashboard">
        <%- include('../partials/adminDashboard.ejs') %>
    </div>


    <main>
        <%- include('../partials/adminNavbar.ejs') %>
        <div class="content">
            <div class="form">
                <div class="title">Student Info</div>
                <form action="/addingStudent" method="POST">
                    <div class="user-details">
                        <div class="input-box">
                            <span class="details">First Name </span>
                            <input type="text" name="firstName" placeholder="Enter your First name" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Last Name </span>
                            <input type="text" name="lastName" placeholder="Enter your Last name" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Enrollment id </span>
                            <input type="text" name="enroll_id" placeholder="Enter your id" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Father's Name </span>
                            <input type="text" name="fatherName" placeholder="Enter your Father's name">
                        </div>
                        <div class="input-box">
                            <span class="details">Mother's Name </span>
                            <input type="text" name="motherName" placeholder="Enter your Mother's name">
                        </div>
                        <div class="input-box">
                            <span class="details">Course </span>
                            <input type="text" name="course" placeholder="Enter course (b.tech etc.)" required >
                        </div>
                        <div class="input-box">
                            <span class="details">Branch </span>
                            <input type="text" name="branch" placeholder="Enter branch (CSE, ECE etc.)" required >
                        </div>
                        <div class="input-box">
                            <span class="details">Username </span>
                            <input type="text" name="username" placeholder="Enter your Username" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Password </span>
                            <input type="password" name="password" placeholder="Enter your password" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Email </span>
                            <input type="email" name="email" placeholder="Enter your email" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Admission Date </span>
                            <input type="date" name="admission_date" placeholder="dd/mm/yyyy" required>
                        </div>
        
                        <div class="input-box">
                            <span class="details"> Contact No. </span>
                            <input type="text" pattern="[0-9]{10}" name="m_no" placeholder="Enter your Phone No" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Semester </span>
                            <input type="text" name="sem" pattern="[0-8]{1}" placeholder="Enter your sem" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Date of birth </span>
                            <input type="date" name="dob" placeholder="dd/mm/yyyy" required>
                        </div>
                        <div class="input-box">
                            <span class="details"> Parent's Contact No. </span>
                            <input type="text" pattern="[0-9]{10}" name="pm_no" placeholder="Enter your Parent's mobile No" required>
                        </div>
                       </div>
        
                       <div class="address-box">
                        <span class="address-details">Address </span>
                        <!-- <input type="text" placeholder="Enter your Address" required> -->
                        <textarea name="address" placeholder="Enter your Address" required></textarea>
                        </div>
                        
                       <div class="gender-details">
                        <input  type="radio" name="gender" id="dot-1" value="male">
                        <input  type="radio" name="gender" id="dot-2" value="female">
                        <input  type="radio" name="gender" id="dot-3" value="prefer not to say">
                           <span class="gender-title">Gender</span>
                           <div class="category">
                               <label for="dot-1">
                                   <span class="dot one"></span>
                                   <span class="gender">Male</span>
                               </label>
                               <label for="dot-2">
                                <span class="dot two"></span>
                                <span class="gender">Female</span>
                            </label>
                            <label for="dot-3">
                                <span class="dot three"></span>
                                <span class="gender">prefer not to say</span>
                            </label>
                           </div>
                       </div>
                       <div class="button">
                           <input  type="submit" value="Register">
                       </div>
                </form>
            </div>
        </div>
    </main>



    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>