<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="AddTeacher.css">
    <link rel="stylesheet" href="/adminNavbar.css">
    <title>Admin | Add Teacher</title>
</head>
<body>
    <div class="dashboard">
        <%- include('../partials/adminDashboard.ejs') %>
    </div>


    <main>
        <%- include('../partials/adminNavbar.ejs') %>

        <div class="content">
            <div class="form">
                <div class="title">Teacher Info</div>
            <form action="/addingTeacher" method="post">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">First Name </span>
                        <input type="text" name="firstName" placeholder="Enter your First name" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Last Name </span>
                        <input type="text" name="lastName" placeholder="Enter your Last name" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Teacher id </span>
                        <input type="text" name="t_id" placeholder="Enter your id" required>
                    </div>
    
                    <div class="input-box">
                        <span class="details">Username </span>
                        <input type="text" name="username" placeholder="Enter your Username" required>
                    </div>
    
                    <div class="input-box">
                        <span class="details">Password </span>
                        <input type="password" name="password" placeholder="Enter your Password" required>
                    </div>
    
                    <div class="input-box">
                        <span class="details">Email </span>
                        <input type="email" name="email" placeholder="Enter your email" required>
                    </div>
                 
                    <div class="input-box">
                        <span class="details"> Phone No. </span>
                        <input type="text" pattern="[0-9]{10}" name="m_no" placeholder="Enter your Phone No (10 digit Format)" required>
                    </div>
                    
                    <div class="input-box">
                        <span class="details">Date of birth </span>
                        <input type="date" name="dob" placeholder="mm/dd/yyyy" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Date of Joining</span>
                        <input type="date" name="do_joining" placeholder="mm/dd/yyyy" required>
                    </div>
                    
                   </div>
    
                   <div class="address-box">
                    <span class="address-details">Address </span>
                    <!-- <input type="text" placeholder="Enter your Address" required> -->
                    <textarea name="address" placeholder="Enter your Address" required></textarea>
                    </div>
                   <div class="gender-details">
                    <input  type="radio" name="gender" id="dot-1" value="Male">
                    <input  type="radio" name="gender" id="dot-2" value="Female">
                    <input  type="radio" name="gender" id="dot-3" value="PreferNotToSay">
                       <span class="gender-title">Gender</span>
                       <div class="category">
                           <label for="dot-1">
                               <span class="dot one"></span>
                               <span class="gender">Male</span>
                           </label>
                           <label for="dot-2">
                            <span class="dot two"></span>
                            <span class="gender">Female</span>
                        </label>
                        <label for="dot-3">
                            <span class="dot three"></span>
                            <span class="gender">Prefer not to say</span>
                        </label>
                       </div>
                   </div>
                   <div class="button">
                       <input  type="submit" value="Register">
                   </div>
            </form>
            </div>
        </div>
    </main>



    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>